<div class="h-90">
  <img class="h-200px object-cover "src="{{ section.settings.image | img_url : 'master' }}">
</div>

{% schema %}
  {
      "name": "Hero Image",
        "settings": [
          {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
          }
        ],
        "presets":[
          {
            "name": "Hero Image",
            "category": "Image"
          }
        ]

  }
{% endschema %}
